.opacity {
  opacity: 0.9;
}
.loginscreen{
  min-height: 100vh;
  background-image: url('/images/357.jpg');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
